/*****************
 * desktop icons *
 *****************/
.nemo-canvas-item {
	border-radius: 2px;
}

.nemo-desktop.nemo-canvas-item {
	color: white;
	text-shadow: 1px 1px black;
}

.nemo-desktop.nemo-canvas-item:active {
	color: @theme_fg_color;
}

.nemo-desktop.nemo-canvas-item:selected {
	color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
	text-shadow: none;
}

/***********************
 * pathbar breadcrumbs *
 ***********************/
NemoPathbarButton {
	border-color: shade(@toolbar_bg_color, 0.8);
	background-color: shade(@toolbar_bg_color, 1.08);
	background-image: none;
	color: @toolbar_fg_color;
	-NemoPathbarButton-border-radius: 2px;
}

NemoPathbarButton:active {
	border-color: shade(@toolbar_bg_color, 0.8);
	background-color: shade(@toolbar_bg_color, 0.95);
	background-image: none;
}

NemoPathbarButton:hover {
	border-color: shade(@toolbar_bg_color, 0.7);
	background-color: shade(@toolbar_bg_color, 1.10);
	background-image: none;
}

NemoPathbarButton:active:hover {
	border-color: shade(@toolbar_bg_color, 0.7);
}

/*********************************
 * sidebar disk space indicators *
 *********************************/
/* sidebar */

NemoWindow NemoIconView {
	background-color: @base_color;
}

.sidebar > NemoPlacesSidebar NemoPlacesTreeView row {
	-NemoPlacesTreeView-disk-full-bg-color: shade(@toolbar_bg_color, 0.8);
	-NemoPlacesTreeView-disk-full-fg-color: @theme_selected_bg_color;
	-NemoPlacesTreeView-disk-full-bar-width: 2px;
	-NemoPlacesTreeView-disk-full-bar-radius: 2px;
	-NemoPlacesTreeView-disk-full-bottom-padding: 1px;
	-NemoPlacesTreeView-disk-full-max-length: 70px;
}

.sidebar > NemoPlacesSidebar NemoPlacesTreeView row:selected {
	-NemoPlacesTreeView-disk-full-bg-color: @theme_selected_fg_color;
	-NemoPlacesTreeView-disk-full-fg-color: shade(@theme_selected_bg_color, 1.4);
	color: @theme_selected_bg_color;
	border-color: transparent;
	background-color: transparent;
}

.sidebar > NemoPlacesSidebar NemoPlacesTreeView row:hover {
	color: @theme_selected_bg_color;

}

.sidebar > NemoPlacesSidebar NemoPlacesTreeView row:selected:hover {
	color: @theme_selected_fg_color;
	text-shadow: 1px 1px 1px @theme_selected_bg_color;
}

NemoWindow .dialog-vbox .notebook tab.top {
	padding: 8px 15px;
}


/*********************
 * Toolbar           *
 *********************/
NemoToolbar .toolbar .button.image-button {
	padding-left: 7px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
}

/*********************
 * Menubar           *
 *********************/
NemoWindow .menubar {
	background-color: @bg_color;
}

NemoWindow .menubar > .menuitem {
	color: @fg_color;
}

NemoWindow .menubar > .menuitem:hover {
	border-color: mix(@bg_color, @fg_color, 0.21);
	background-color: mix(@bg_color, @fg_color, 0.21);
	background-image: none;
	color: shade(@fg_color, 0.85);
}

NemoStatusBar .button.image-button {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/*********************
 * Cinnamon Settings *
 *********************/

.section-bg.frame {
	background-color: @bg_color;
	box-shadow: none;
}
