.systray-collapsible-gradient {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0);
    background-gradient-end: rgba(255,255,255,0);
    background: transparent;
    box-shadow: inset 0 0 1px 1px rgba(170,170,170,0);
    border-radius: 6px; 
    spacing: 2px;
    padding: 0;
}

.systray-collapsible-gradient .popup-menu-icon {
    icon-size: 16px;
    color: #dcdcdc;
    padding-left: 2px;
    padding-right: 2px;
}

.systray-collapsible-gradient:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0);
    background-gradient-end: rgba(255,255,255,0);
    background: transparent;
    box-shadow: inset 0 0 1px 1px rgba(170,170,170,0);
    padding: 0;
}

.systray-collapsible-gradient:focus .popup-menu-icon {
    color: #dcdcdc;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.systray-collapsible-border {
    border: 1px solid rgba(255,255,255,0.4); 
    border-radius: 6px; 
    spacing: 2px;
    padding-left: 3px;
    padding-right: 2px;
}

.systray-collapsible-border:focus   {
    border: 1px solid rgba(255,255,255,0.5); 
}